<% if @activity.errors.any? %>
  <ul>
  <% @activity.errors.full_messages.each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
  </ul>
<% end %>

<div class='center-view-contents activity-container-spacing'>
  <div>
    <p class='exercise-new-title-text center-contents'>Edit Activity</p>
    <%= form_with model: @activity, local: true do |f| %>
      <div class='activity-name'>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class='activity-save-button'>
        <%= f.submit "Save" %>
      </div>
    <% end %>
  </div>
</div>
