<% if @activity.errors.any? %>
  <ul>
  <% @activity.errors.full_messages.each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
  </ul>
<% end %>

<div class='center-contents'>
  <div class='page-header'>
    <div class='align-back-button'>
      <%= link_to root_path  do %>
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.354 10.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
        </svg>
      <% end %>
    </div>
    <h1 class='page-title page-title-text-width'>Add Activity</h1>
  </div>
</div>


<div class='center-view-contents activity-container-spacing'>
  <div>
    <%= form_with model: @activity, local: true do |f| %>
      <div class='activity-name'>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class='activity-save-button'>
        <%= f.submit "Create Activity" %>
      </div>
    <% end %>
  </div>
</div>
