<div class='center-contents'>
  <% if @activity.exercises.present? %>
    <p><%= @activity.name %></p>
    <div class='center-weight-data-table'>
      <table class='table-styling'>
        <tr>
          <td>Exercises</td>
          <td>Created At</td>
        </tr>
        <% @activity.exercises.each do |exercise| %>
          <tr>
            <td><%= "#{exercise.sets} sets of #{exercise.reps} reps at #{exercise.weight_value} #{exercise.units}" %></td>
            <td><%= exercise.created_at.strftime('%a, %b %-d, %Y') %></td>
          </tr>
        <% end %>
      </table>
      <%= link_to('Archive Activity', archive_activity_path(@activity), method: :post)  %>
    </div>
  <% else %>
    <p><%= "No exercises found for #{@activity.name}." %></p>
  <% end %>
</div>
