<div class='center-contents'>
  <div class='page-header'>
    <div class='align-back-button'>
      <%= link_to root_path  do %>
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.354 10.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
        </svg>
      <% end %>
    </div>
    <h1 class='page-title page-title-text-width'><%= @activity.name %></h1>
  </div>
  <div class='activity-show-button activity-show-button-spacing'>
    <%= link_to('Edit Activity', edit_activity_path(@activity), method: :get, class: 'pink-button')  %>
    <%= link_to('Archive Activity', archive_activity_path(@activity), data: {confirm:"Are you sure?"}, method: :post, class: 'pink-button')  %>
  </div>
  <% if @activity.exercises.present? %>
    <div class='activity-button-container'>
        <% @activity.exercises.each do |exercise| %>
        <div class='activity-card'>
          <div class='exercise-display-text'><%= exercise_display_text(exercise) %></div>
          <div><%= exercise.created_at.strftime('%a, %b %-d, %Y') %></div>
        </div>
        <% end %>
    </div>
  <% else %>
    <p><%= "No exercises found." %></p>
  <% end %>
</div>
