<div class='center-contents'>
  <h1 class='page-title'><%= @activity.name %></h1>
  <div class='activity-show-button activity-show-button-spacing'>
    <%= link_to('Edit Activity', edit_activity_path(@activity), method: :get, class: 'pink-button')  %>
    <%= link_to('Archive Activity', archive_activity_path(@activity), method: :post, class: 'pink-button')  %>
  </div>
  <% if @activity.exercises.present? %>
    <div class='activity-button-container'>
        <% @activity.exercises.each do |exercise| %>
        <div class='activity-card'>
          <div class='exercise-display-text'><%= exercise_display_text(exercise) %></div>
          <div><%= exercise.created_at.strftime('%a, %b %-d, %Y') %></div>
        </div>
        <% end %>
    </div>
  <% else %>
    <p><%= "No exercises found." %></p>
  <% end %>
</div>
