<div class='center-contents'>
  <div class='page-header'>
    <div class='align-back-button'>
      <%= link_to root_path  do %>
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.354 10.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
        </svg>
      <% end %>
    </div>
    <h1 class='page-title page-title-text-width'>Add an Exercise for <%= @activity.name %></h1>
  </div>
</div>

<div class='center-view-contents exercise-new-container-spacing'>
  <div>
    <% if @exercise.errors.any? %>
      <ul>
      <% @exercise.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
      </ul>
    <% end %>

    <%= form_with model: @exercise, url: activity_exercises_path(@activity), local: true do |f| %>
      <div class='exercise-form-input-fields'>
        <div class='form-input-spacing'>
          <%= f.label :reps, 'Reps *', class: 'label-spacing' %>
          <%= f.text_field :reps, :value => @previous_exercise&.reps %>
          <div class='form-input-extra-field'>
          </div>
        </div>
        <div class='form-input-spacing'>
          <%= f.label :sets, 'Sets *', class: 'label-spacing' %>
          <%= f.text_field :sets, :value => @previous_exercise&.sets || @exercise.sets %>
          <div class='form-input-extra-field'>
          </div>
        </div>
        <div class='form-input-spacing'>
          <%= f.label :bodyweight, class: 'label-spacing' %>
          <%= check_box_tag "exercise[bodyweight]" %>
          <div class='form-input-extra-field'>
          </div>
        </div>
        <div class='form-input-spacing'>
          <%= f.label :weight_value, class: 'label-spacing' %>
          <%= f.text_field :weight_value, :value => @previous_exercise&.weight_value %>
          <div class='form-input-extra-field'>
            <%= f.select :units, options_for_select([ "lbs", "kg", "units" ], @previous_exercise&.units) %>
          </div>
        </div>
        <div class='form-input-spacing'>
          <div class='label-spacing time-label'>Time</div>
          <div>
            <div>
              <%= f.text_field :hours, :value => @previous_exercise&.hours, class: 'time-input' %>
              <%= f.label :hours %>
            </div>
            <div>
              <%= f.text_field :minutes, :value => @previous_exercise&.minutes, class: 'time-input' %>
              <%= f.label :minutes %>
            </div>
            <div>
              <%= f.text_field :seconds, :value => @previous_exercise&.seconds, class: 'time-input' %>
              <%= f.label :seconds %>
            </div>
          </div>
          <div class='form-input-extra-field'>
          </div>
        </div>
      </div>
      <div class='create-exercise-button'>
        <%= f.submit "Create Exercise" %>
      </div>
    <% end %>
  </div>
</div>
