<p>Add an Exercise for <%= @machine.name %> </p>

<% if @exercise.errors.any? %>
  <ul>
  <% @exercise.errors.full_messages.each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with model: @exercise, url: machine_exercises_path(@machine), local: true do |f| %>
  <%= f.label :reps %>
  <%= f.text_field :reps, :value => @machine.exercises.last.reps %>
  <%= f.label :sets %>
  <%= f.text_field :sets %>
  <%= f.label :weight_value %>
  <%= f.text_field :weight_value %>
  <%= f.select :units, options_for_select([ "lbs", "kg", "units" ]) %>
  <%= f.submit "Create Exercise" %>
<% end %>
