<!DOCTYPE html>
<html>
  <head>
    <title>Eren</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <div class='logged-in-header'>
        <div class='signed-in-as-header signed-in-as-text'>
          <%= "Signed in as: #{current_user.email}" %>
        </div>
        <div class='toolbar-right-side'>
          <div class='options-link'>
            <%= link_to "Options", options_path, method: :get %>
          </div>
          <div class='pink-button'>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'log-out-text' %>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
